<div id="<%= dom_id cat %>">
  <p>
    <strong>Avatar:</strong>
    <%= cat.avatar %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= cat.bio %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= cat.color %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= cat.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= cat.gender %>
  </p>

  <p>
    <strong>Characteristics:</strong>
    <%= cat.characteristics %>
  </p>

</div>
